/* Login.css */
.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Full height of the viewport */
    background-color: #f0f2f5; /* Light gray background similar to Facebook's */
}

.login-box {
    width: 360px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    border-radius: 8px;
}

.login-box input {
    margin-bottom: 15px;
}

.login-box button {
    width: 100%;
}

.form-text {
    font-size: 12px;
    color: #606770;
}